@import url(/SCSS/Null.css);

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



%ts {
   font-family: 'Lato', sans-serif;
   font-weight: normal;
   font-size: 16px;
}


.text {
   @extend %ts;
   text-align: center;
}



.wrapper {
}
.container {
   margin: 0 auto;
}
.header {
   position: relative;
		&__menu {
         display: flex;
         justify-content: center;
         position: absolute;
         width: 100%;
         margin-top: 35px;
         @media (max-width: 800px) {
            display: none;
         }
		}

		&__list {
         display: flex;
         align-items: center;
         font-size: 16px;
         text-transform: uppercase;
         li:nth-child(3) {
            padding: 0 35px;
         }
		}

      &__link--point {
         &::after {
            content: ".";
            padding-left: 40px;
            color: #4d4959;
         }
      }

      &__burger {
      }

      &__link {
         color: #4d4959;
         @extend %ts;
         font-weight: 700;
         letter-spacing: 3px;
         font-size: 13px;
         transition: color 0.5s ease 0s;
         padding: 20px 20px;
         &:hover {
            color: red;
         }
         @media (max-width: 1180px) {
            font-size: 10px;
            img {
               width: 67px;
               height: 60px;
            }
         }
      }

		&__background {
         img {
            width: 100%;
         }
		}
}



.description {
   height: 100%;
   padding: 80px 0px;
   background-color: #f7f7f7;
   display: flex;
   flex-direction: column;
   justify-content: center;
   @media (max-width: 1024px) {
      padding: 20px 0px;
   }
   

   &__icon {
      flex: 0 1 auto;
      text-align: center;
      margin-bottom: 35px;
      padding: 30px 0px 0px 0px;
   }

   &__title {
      flex: 0 1 auto;
      margin-bottom: 27px;
      font-weight: 700;
      font-size: 18px;
   }

   &__text {
      flex: 0 1 auto;
      max-width: 1100px;
      margin: 0 auto;
      line-height: 34px;
      font-size: 18px;
      color: #848789;
      padding: 0px 30px 30px 30px;
      @media (max-width: 425px) {
         font-size: 16px;
      }
   }
}


.content {
   &__carts {
      display: flex;
      flex-wrap: wrap;
   }
}
.item-1 {
   flex: 0 1 66.68%;
   position: relative;
   order: 1;
   @media (max-width: 1400px) {
      flex: 0 1 100%;
   }
   &__img {
      width: 100%;
   }
   &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
      @media (min-width: 426px) {
         width: 10%;
      }
   }
}


.item-2 {
   flex: 1 1 33.32%;
   display: flex;
   flex-direction: column;
   order: 2;
   min-width: 300px;
   &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      padding: 30px 0px;
   }

   &__logo {
      margin-bottom: 32px;
    }

   &__title {
      margin-bottom: 28px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      color: #353738;
    }

   &__text {
      padding: 0px 40px;
      line-height: 30px;
      font-size: 16px;
      text-align: justify;
      color: #848789;
   }

   &__img {
     width: 100%;
   }
}


.item-3 {
   flex: 1 1 33.32%;
   display: flex;
   flex-direction: column;
   order: 3;
   min-width: 300px;
   &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      padding: 30px 0px;
   }

   &__logo {
      margin-bottom: 32px;
   }

   &__title {
      margin-bottom: 28px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      color: #353738;
   }

   &__text {
      padding: 0px 40px;
      line-height: 30px;
      font-size: 16px;
      text-align: justify;
      color: #848789;
   }

   &__img {
      width: 100%;
   }
}



.item-4 {
   flex: 0 1 66.68%;
   position: relative;
   display: inline-block;
   order: 4;
   @media (max-width: 1400px) {
      flex: 0 1 100%;
   }
   &__img {
      width: 100%;
   }

   &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
   }
}



.item-5 {
   flex: 0 1 33.333%;
   position: relative;
   display: inline-block;
   order: 5;
   @media (max-width: 1444px) {
      flex: 0 1 50%;
   }
   &__img {
      width: 100%;
   }

   &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
   }
}



.item-6 {
   flex: 1 1 33.333%;
   display: flex;
   flex-direction: column;
   order: 6;
   @media (max-width: 1444px) {
      flex: 0 1 100%;
      order: 7;
   }
   &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      padding: 30px 0px;
   }

   &__logo {
      margin-bottom: 32px;
   }

   &__title {
      margin-bottom: 28px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      color: #353738;
   }

   &__text {
      line-height: 30px;
      font-size: 16px;
      text-align: justify;
      color: #848789;
      padding: 0px 40px 15px 40px;
   }

   &__img {
      width: 100%;
   }
}


.item-7 {
   flex: 0 1 33.333%;
   order: 7;
   @media (max-width: 1444px) {
      flex: 0 1 50%;
      order: 6;
   }
   &__img {
      width: 100%;
   }
}




.social-media {
   height: 100%;
   padding: 80px 0px;
   background-color: #f7f7f7;
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   justify-content: center;
   @media (max-width: 1024px) {
      padding: 20px 0px;
   }
   &__item {
   }

   &__icon {
      text-align: center;
      margin-bottom: 35px;
      padding: 30px 0px 0px 0px;
   }

   &__title {
      margin-bottom: 27px;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      letter-spacing: 3px;
      padding: 0px 20px 0px 20px;
   }

   &__title-span {
      color: #848789;
   }

   &__text {
      max-width: 1100px;
      margin: 0 auto;
      line-height: 34px;
      font-size: 24px;
      color: #848789;
      text-align: center;
      padding: 0px 20px 30px 20px;
      @media (max-width: 768px) {
         font-size: 16px;
      }
   }

   &__wheel {
   }
}


.gallery {
   &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
   }

   &__img {
   }

   &__first-stack {
      display: flex;
      flex: 1 1 33.333%;
      flex-wrap: wrap;
      min-width: 300px;
      img {
         width: 50%;
         &:last-child {
            width: 100%;
         }
      }
   }

   &__second-stack { 
      display: flex;
      flex: 1 1 33.333%;
      flex-wrap: wrap;
      min-width: 300px;
      img {
         width: 50%;
      }
   }

   &__third-stack {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 33.333%;
      min-width: 300px;
   }

   
   &__special {
      width: 100%;
      position: relative;
      background: linear-gradient(135deg, rgba(177, 234, 77, 0.25), rgba(69, 149, 34, 0.25));
   }

   &__img--special {
      width: 100%;
   }

   &__img--last {
      width: 50%;
   }

   &__logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10%;
   }

   &__text {
      position: absolute;
      left: 50%;
      top: 66%;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      @media (max-width: 1024px) {
         font-size: 14px;
      }
   }
}


.discover {
   height: 100%;
   padding: 80px 0px;
   background-color: #282f35;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &__button {
   }

   &__btn {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3px;
      border: 1px solid white;
      padding: 20px 60px;
      transition: all 0.5s ease 0s;
      &:hover {
         background-color: white;
         color: black;
      }
   }
}



.search {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 80px 0px;
   border-bottom: 1px solid black;
   @media (max-width: 1024px) {
      padding: 20px 0px;
   }
   &__icon {
      margin-bottom: 40px;
      padding: 30px 0px 0px 0px;
   }

   &__title {
      margin-bottom: 40px;
      color: #848789;
      font-size: 24px;
   }

   &__bar {
      display: flex;
      margin: 0px 0px 30px 0px;
      width: 100%;
      justify-content: center;
      @media (max-width: 425px) {
         flex-wrap: wrap;
      }
   }

   &__input-bar {
      padding: 0px 20px 0px 20px;
      @media (max-width: 380px) {
         padding: 0px;
      }
   }

   &__input {
      font-size: 20px;
      padding-left: 30px;
      border: 1px solid #d3d7d9;
      height: 70px;
      width: 500px;
      margin-right: 8px;
      color: #929292;
      font-style: italic;
      @media (max-width: 633px) {
         width: 300px;
         margin: 0px 10px 20px 10px;
      }
   }

   &__button {
      width: 126px;
      height: 70px;
      color: white;
      background-color: #64c29e;
      text-transform: uppercase;
      font-size: 24px;
   }
   @media (min-width: 425px) {
      padding-right: 20px;
   }
}


.footer {
   height: 100%;
   padding: 80px 0px;
   background-color: #f7f7f7;
   @media (max-width: 1024px) {
      padding: 10px 0px;
   }
   &__items {
      display: flex;
      height: 100%;
      align-items: center;
      @media (max-width: 1024px) {
         display: block;
         padding: 30px 0px;
      }
   }

   &__location {
      flex: 0 1 33.333%;
      display: flex;
      color: #848789;
      text-align: left;
      justify-content: center;
      @media (max-width: 1024px) {
         text-align: center;
      }
   }

   &__social {
      flex: 1 1 33.333%;
      font-size: 14px;
      text-align: center;
      justify-content: center;
      img {
         padding: 0px 7px;
      }
      @media (max-width: 1024px) {
         margin: 20px 0px;
      }
   }

   &__creator {
      flex: 1 1 33.333%;
      color: #848789;
   }
}
